<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartParking">

        <!-- Auth / launcher -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- User panel -->
        <activity
            android:name=".ui.user.UserPanel"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.user.userSettings.TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.userSettings.VehiclesActivity"
            android:exported="false" />
        <activity android:name=".ui.user.userSettings.AddVehicleActivity" />

        <!-- Admin panels -->
        <activity
            android:name=".ui.admin.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ControlPanelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageParkingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageZonesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminManageAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ManageFinesActivity"
            android:exported="false" />

        <!-- Optional debug/test entry point -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

    </application>

</manifest>